<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gundula.android.stockhawk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gundula.android.stockhawk.ui.MyStocksActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.gundula.android.stockhawk.service.StockTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <service android:name="com.gundula.android.stockhawk.service.StockIntentService" />

        <provider
            android:name="com.gundula.android.stockhawk.data.generated.QuoteProvider"
            android:authorities="com.gundula.android.stockhawk.data.QuoteProvider"
            android:exported="true" />

        <activity
            android:name="com.gundula.android.stockhawk.ui.StockDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.gundula.android.stockhawk.ui.MyStocksActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gundula.android.stockhawk.ui.MyStocksActivity" />
        </activity>


        <receiver
            android:name=".widget.StockHawkWidgetProvider"
            android:label="@string/title_widget_stock" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_stock" />
        </receiver>
        <service android:name=".widget.StockHawkWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <receiver android:name=".service.StockNotFoundBroadcast">
            <intent-filter>
                <action android:name="com.gundula.android.stockhawk.ui.MyStocksActivity.STOCK_DOES_NOT_EXIST"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>